<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/pure-min.css"/>
</head>
<body>
<div class="front_panel">
<h2> <i class="fa fa-list"></i>&nbsp;&nbsp;Experiment Significant Genes</h2>
<hr>
<p>Enter the range of numbers to signify which samples are in which group. You can use '-' (e.g. 2-10) for an inclusive range and commas to add numbers. For example 1,2,4-7 will include [1,2,4,5,6,7] for one group.</p>
<form action="{{ url_for('get_significant_genes') }}" method="POST" class="pure-form pure-form-aligned" enctype = "multipart/form-data">
<span class="pure-control-group">
<br>
<br>
<label for="experiment_id">Experiment Id</label><input type="text" id="experiment_id" name="experiment_id" placeholder="experiment id" value='{{experiment_id}}' readonly/>
<br>
<br>
<label for="group_1_name">Group Name</label><input type="text" id="group_1_name" name="group_1_name" placeholder="e.g. Quiescent" required/><br>
<label for="group_1">Group 1</label><input type="text" id="group_1" name="group_1" placeholder="e.g. 1,2,4-7" required/>
<br>
<br>
<label for="group_2_name">Group Name</label><input type="text" id="group_2_name" name="group_2_name" placeholder="e.g. Quiescent" required/><br>
<label for="group_2">Group 2</label><input type="text" id="group_2" name="group_2" placeholder="e.g. 1,2,4-7" required/>
<br>
<br>
<label for="submit">Submit</label><input type="submit" id="submit" class="pure-button" value="Submit">
</span>
</form>
</div>
<br>
<br>
<div class="front_panel">
<h2>Samples Table</h2>
<hr>
{{html_table|safe}}

</div>
</body>
</html>