<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/pure-min.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/font-awesome.css"/>
</head>
<body>

<form action="{{ url_for('get_differential_heatmap') }}" method="POST" class="pure-form pure-form-aligned" enctype = "multipart/form-data">
<div class="front_panel">
<span class="pure-control-group">
<h2> <i class="fa fa-list"></i>&nbsp;&nbsp;Differential Analysis Info</h2><hr><p>The min mean difference removes the genes where the mean gene expression difference from any two classes is less than the specified value.</p><br><br><label for="experiment_id">Experiment Id</label>&nbsp;<input type="text" id="experiment_id" name="experiment_id" placeholder="Experiment Id" required/><br><br><label for="num_genes">Number of Genes</label>&nbsp;<input type="text" id="num_genes" name="num_genes" placeholder="Number of Genes" required/><br><br><label for="mean_cutoff">Min Mean Difference</label>&nbsp;<input type="text" id="mean_cutoff" name="mean_cutoff" placeholder="e.g. 10" required/><br><br><input type="submit" id="submit" class="pure-button" value="Submit"></span></div>
</form>