<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/font-awesome.css"/>
<link rel="stylesheet" href="/static/css/pure-min.css"/>
<script src="../static/javascript/Chart.js"></script>
</head>
<body>
<div class="front_panel">
<h2 class="chartTitle">Quality Check for GEO: {{geo_number}}</h2>
<canvas id="myChart1"></canvas>
</div>
<br>
<br>
<div class="front_panel">
<h2>Quality Check Sample Table</h2>
<hr>
{{quality_check_table|safe}}

</div>

<script type="text/javascript">
	var ctx1 = document.getElementById("myChart1").getContext("2d");
	var myScatterChart1 = new Chart(ctx1,{type:'bubble',data: {{quality_check_data|tojson|safe}}, options:{legend: {display: false}, scales:{ yAxes: [{
      scaleLabel: {display: true,labelString: 'Avereage Base Score'}}], xAxes: [{scaleLabel: {display: true,labelString: 'Deduplication Percentage'}}]}}});	
</script>