<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/pure-min.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/font-awesome.css"/>
</head>
<body>

<div class="front_panel">
<h2> <i class="fa fa-area-chart"></i>&nbsp;&nbsp;Figure</h2>
<hr>
<br>
<img src="{{image_link}}" style='height: 100%; width: 100%; object-fit: contain' />
<br>
<br>
<a href="{{image_link[:-4] + '.tiff'}}" download="{{image_link.split('/')[-1][:-4]+'.tiff'}}" target="_blank"> <button class ="pure-button"><i class="fa fa-download"></i>&nbsp;&nbsp;Download High Quality Tiff</button></a>
</div>
<br>
<br>
<div class="front_panel">
<h2>Samples Table</h2>
<hr>
{{html_table|safe}}

</div>
</body>
</html>