<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/pure-min.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/font-awesome.css"/>
</head>
<body>
<div class="front_panel">
<h2>Bicluster Table</h2>
<hr>
{{html_table|safe}}
<br>
<br>
<a href="{{link}}" download="{{link_name}}" target="_blank"> <button class ="pure-button"><i class="fa fa-download"></i>&nbsp;&nbsp;Download CEF File</button></a>
</div>
</body>
</html>